# 忽略操作系统生成的临时文件
*.swp
*.swc
*.swo
*.pyc
__pycache__/

# 忽略 IDE 生成的文件
.idea/
*.idea
*.iml

# 忽略 Flask 生成的日志文件
instance/
*.log

# 忽略静态文件夹中的自动生成文件
static/

# 忽略上传文件夹
uploads/
output/
zips/

# 忽略虚拟环境
venv/
.env

# 忽略 PyCharm 缓存文件
.run/
.debug/
.cachegrind.out.*

# 忽略个人配置文件
*.env
.env*
.flaskenv

# 忽略 Python 缓存文件
__pycache__/
*.pyc

# 忽略系统缓存文件
.DS_Store
Thumbs.db
